@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: lightgray;
}

:root {
  --light: #232f3e;
  --default: #131921;
  --white: #fff;
}

@media screen and (min-width: 1536px) {
  .main {
    margin: 0 auto;
    width: 95%;
  }
}

/* .app {
  text-align: center;
} */
